
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  margin: auto;
  width: 1024px;
  /* background-color: #464f61; */
  height: 100vh;
  padding: 10px 2px;
}

.header{
  padding: 20px 10px;
  margin: auto;
  width: 1024px;
  background-color: #464f61;
  color: #cdcdcd;
}